/* load page */
.weather.loading {
  visibility: hidden;
}

/* once loaded */
.weather.loading:after {
  visibility: visible;
  content: "Fetching Data...";
  color: black;
  font-size: 26px;
}

/* location data design */
.location {
  text-align: center;
  border: 5px solid black;
  border-radius: 25px;
  border-style: inset;
  background: #222222d0;
  color: white;
}

/* degrees data design */
.degrees {
  text-align: center;
  border: 5px solid black;
  border-radius: 25px;
  border-style: inset;
  background: #222222d0;
  color: white;
}

/* description container data design */
.descriptionContainer {
  text-align: center;
  border: 5px solid black;
  border-radius: 25px;
  border-style: inset;
  margin-bottom: 20px;
  background: #222222d0;
  color: white;
}

/* image description size */
.imageDescription {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* wordDescription description data design */
.wordDescription {
  text-align: center;
  text-transform: capitalize;
}

/* 24 hr forecast data design */
.twentyFourCast {
  text-align: center;
  border: 5px solid black;
  border-radius: 25px;
  border-style: inset;
  background: #222222d0;
  color: white;
}

/* 24 hr forecast data container design */
.twentyFourCastContainer {
  padding-left: 70px;
  padding-right: 70px;
}

/* 24 hr forecast weather data design */
.twentyFourCastData {
  width: 85%;
  height: 45vh;
  border: 3px solid black;
  border-radius: 25px;
  border-style: inset;
  margin-left: auto;
  margin-right: auto;
  background: #222222d0;
}

/* weekly forecast data design */
.weeklyCast {
  text-align: center;
  border: 5px solid black;
  border-radius: 25px;
  border-style: inset;
  background: #222222d0;
  color: white;
}

/* weekly forecast data container design */
.weeklyCastContainer {
  padding-left: 70px;
  padding-right: 70px;
}

/* sun & moon presence data design */
.planetPresence {
  text-align: center;
  border: 5px solid black;
  border-radius: 25px;
  border-style: inset;
  background: #222222d0;
  color: white;
}

/* sun & moon presence data container design */
.planetPresenceContainer {
  padding-left: 70px;
  padding-right: 70px;
}

/* current forecast data design */
.currentCast {
  text-align: center;
  border: 5px solid black;
  border-radius: 25px;
  border-style: inset;
  background: #222222d0;
  color: white;
}

/* current forecast data container design */
.currentCastContainer {
  padding-left: 70px;
  padding-right: 70px;
}

/* current forecast weather data design */
.currentCastData {
  width: 85%;
  height: 30vh;
  border: 3px solid black;
  border-radius: 25px;
  border-style: inset;
  margin-left: auto;
  margin-right: auto;
  background: #222222d0;
  font-family: "Lato", "Times New Roman", Times, serif;
  padding-top: 80px;
}

.currTemp {
  color: white;
}

.currFeelsLike {
  color: white;
}

.currTempMin {
  color: white;
}

.currTempMax {
  color: white;
}

.currPressure {
  color: white;
}

.currHumidity {
  color: white;
}

.currWindSpeed {
  color: white;
}

.currWindDirection {
  color: white;
}

table,
tr,
td,
thead,
tbody {
  display: block;
}

tr {
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -5px;
}

.hr {
  color: white;
  text-align: center;
}

/* weather map data design */
.weatherMap {
  text-align: center;
  border: 5px solid black;
  border-radius: 25px;
  border-style: inset;
  background: #222222d0;
  color: white;
}

/* weather map data container design */
.weatherMapContainer {
  padding-left: 70px;
  padding-right: 70px;
}

/* map design */
.map {
  width: 85%;
  height: 45vh;
  border: 3px solid black;
  border-radius: 25px;
  border-style: inset;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  background: #222222d0;
}

/* current location design */
.main-info {
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* wrapper size for overall page content */
#wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /* max dimension for images */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* space for each section */
.flex-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

/* body design */
body {
  font-family: "Lato", "Times New Roman", Times, serif;
  transition: 750ms linear;
}

/* footer design */
footer {
  margin-top: 50px;
  font-style: italic;
  text-align: center;
}

/* burger menu size */
.sidenav {
  height: 100%;
  width: 0;
  /* align with three line menu */
  margin-top: -73px;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  /* overlap stars */
  z-index: 1;
}

/* burger menu link design */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* burger menu link hover animation */
.sidenav a:hover {
  color: #f1f1f1;
}

/* burger menu close button design */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* design of search bar */
div.submitBar input[type=text] {
  float: right;
  font-size: 17px;
  border: 5px solid black;
  border-radius: 25px;
  border-style: inset;
  width: 30%;
  margin-top: -52px;
  margin-right: 100px;
  margin-bottom: 50px;
  background: #222222d0;
  color: white;
  outline: none;
}

/* design of submit button */
div.submitBar button {
  float: right;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 5px solid black;
  border-radius: 25px;
  width: 5%;
  height: 50px;
  margin-top: -52px;
  background: #222222d0;
  color: white;
  margin-right: 15px;
}

/* submit button animation */
div.submitBar button:hover {
  background: #7c7c7c6b;
}

/* placeholder text design */
::placeholder {
  font-family: "Lato", "Times New Roman", Times, serif;
  color: white;
}

/* clear floats */
div.submitBar::after {
  content: "";
  clear: both;
  display: table;
}

/* design of burger menu div */
#main {
  transition: margin-left .5s;
  padding: 16px;
  color: #222222d0;
}

/* design of burger menu div animation */
span:hover {
  color: #7c7c7c6b;
}

/* design of burger menu div background */
span {
  background-color: white;
}

/* can omit? */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* rate our app form */
* {
  box-sizing: border-box;
}

/* text design of placeholder */
::placeholder {
  color: #9e9e9e;
  font-family: 'Lato', 'Times New Roman', Times, serif;
  font-size: 1em;
}

/* drop down list design for first*/
select {
  color: #9e9e9e;
  font-family: 'Lato', 'Times New Roman', Times, serif;
  font-size: 1em;
}

/* drop down list design for rest */
option:not(:first-of-type) {
  color: black;
  font-family: 'Lato', 'Times New Roman', Times, serif;
  font-size: 1em;
}

/* input design */
textarea:focus,
input:focus {
  color: black;
  font-family: 'Lato', 'Times New Roman', Times, serif;
  font-size: 1em;
}

/* input field design & text */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  resize: vertical;
  font-size: 1em;
}

/* input field design & email */
input[type=email],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  resize: vertical;
  font-size: 1em;
}

/* form titles */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: black;
  font-weight: bold;
}

/* submit design */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  float: right;
  margin-top: 45px;
  margin-bottom: 5px;
}

/* submit animation */
input[type=submit]:hover {
  background-color: rgb(30, 70, 80);
  cursor: pointer;
}

/* container of form */
.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* container of form titles */
.formTitle {
  float: left;
  width: 35%;
  margin-top: 6px;
}

/* container of form boxes */
.formBox {
  float: left;
  width: 100%;
  margin-top: 7px;
}

/* clear floats */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* star rating */
.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* hide radio button */
.star-rating input {
  display: none;
}

/* star label design */
.star-rating>label {
  width: 30px;
  height: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  transition: 0.5s ease;
  color: orange;
}

/* star hover animation */
.star-rating label:hover {
  color: rgb(200, 130, 0);
  transition: 0.5s ease;
}

/* star click animation */
.star-rating label:active::before {
  transform: scale(1.5);
}

/* default unselected star design */
.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

/* check stars that follow the one that is selected */
.star-rating input:checked~label:before {
  content: '\2605';
}

/* design of review box*/
#review {
  height: 250px;
  font-family: 'Lato', 'Times New Roman', Times, serif;
  font-size: 1em;
}

/* can omit? */
@-moz-document url-prefix() {
  .star-rating input:checked~label:before {
    font-size: 36px;
    line-height: 21px;
  }
}

/* design of about container */
.aboutContainer {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* icon size */
#aboutIcon {
  width: 128px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* content size */
#aboutContent {
  text-align: center;
  line-height: 55px;
  margin-bottom: 30px;
  font-size: 25px;
}